<p><strong>You are at:</strong> <%= current_user.location %></p>
<h1>Near me now: </h1>


<ul>
<% Restaurant.near(current_user).each do |r| %>
  <%= link_to r.name, r %> (<%= r.distance.round(2) %> miles)<br>
<% end %>
</ul>